@import 'bootstrap/bootstrap';
@import 'components/typography';
@import 'components/containers';
@import 'components/headers';
@import 'components/navigation';
@import 'components/content';
@import 'components/footer';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/modals';
@import 'components/helpers';
@import 'components/comments';
@import 'components/icons';
@import 'components/tiles';


.mosaic-width-full{
  padding-left:0;
  padding-right:0;
}

// MEDIA QUERIES
// --------------------------------------------------

@media only screen and (max-width:1400px){
  .feature-tile-expanded-container, .feature-tile-expanded-container.row{
    margin:0 15px;
  }

  .wrap{
    div.mosaic-blue-background{
      margin-left:-15px;
      margin-right:-15px;
    }

    div.mosaic-row-narrow{
      margin:0 15px;
    }
  }

  #footer-container{
    padding:15px;
  }
}

@media only screen and (min-width:1200px) and (max-width:1400px){
  div.mosaic-width-full{
    padding-left:15px;
    padding-right:15px;
  }
}

@media only screen and (max-width:1200px){

  .castle-container{
    padding-left:15px;
    padding-right:15px;
  }

  div#cover-img .inner-content{
    width:90%;
    top:200px;

    h1.inverse{
      font-size:40px;
    }
    p.lead{
      font-size:24px;
    }
  }

  #footer-container{
    padding:20px 15px;
  }
}

@media only screen and (max-width:992px){
  .feature-tile-row>.mosaic-grid-cell[class*="col"]:last-child{
    padding-right:0;
  }
}

@media only screen and (max-width:768px){
  h2{
    margin-bottom:30px;
  }

  .navbar > .container-fluid .navbar-brand{
    margin-left:15px;
  }

  .navbar-default .navbar-toggle{
    background-color:none;
    border-color:#333;
    margin-top:0;
    transition:opacity 0.5;
    opacity:1;

    &:hover{
      background-color:none;
      opacity:0.8;
    }

    .icon-bar{
      background-color:#333;
    }
  }

  .navbar-collapse{
    background:#fff;
    //opacity:0.85;
    margin-top:15px;

    .nav{
      a{
        color:#333;

        &:hover, &:focus{
          color:#ababab;
          outline:none;
          border:none;
        }
      }

      > li{
        display:block;
      }
    }

    .navbar-form{
      position: relative;
      top:15px;

      input[type="search"]{
        border:1px solid #dedede;
        color:#333;
      }
    }
  }
  .nav#portal-globalnav{
    float:none;
  }
}
